<?xml version="1.0"?>

<!--
  ~ ChargeAfter
  ~
  ~ @category    Payment Gateway
  ~ @package     Chargeafter_Payment
  ~ @copyright   Copyright (c) 2021 ChargeAfter.com
  ~ @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  ~ @author      taras@lagan.com.ua
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="ChargeafterConfigProvider" xsi:type="object">Chargeafter\Payment\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Chargeafter\Payment\Model\Ui\ConfigProvider">
        <arguments>
            <argument name="method" xsi:type="object">ChargeafterPaymentFacade</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="ChargeafterConfigProvider" type="Chargeafter\Payment\Model\Plugin\QuoteItemsDataUpdate" />
    </type>
    <type name="Chargeafter\Payment\Model\Plugin\QuoteItemsDataUpdate">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="quoteRepository" xsi:type="object">Magento\Quote\Model\QuoteRepository\Proxy</argument>
            <argument name="productRepository" xsi:type="object">Magento\Catalog\Model\ProductRepository\Proxy</argument>
        </arguments>
    </type>
</config>
